.card {
  position: relative;
  top: 10px;
  /* left: 25%; */
  display: inline-block;
}
.card img {
  height: 28vh;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card .front-fixed {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front-fixed {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
.card .back-fixed{
transition: all ease-in 0.2s;
transition-delay: 0.2s;
}
.flipped .back-fixed {
  transform: rotateY(90deg);
  transition-delay: 0s;
}


.card .front-var {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front-var {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
} 
.card .back-var {
transition: all ease-in 0.2s;
transition-delay: 0.2s;
}
.flipped .back-var {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

