@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

body {
  margin: 0;
  font-family: Prosto One, sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: rgb(12, 3, 41);
  color: #fff
}

